body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* NO poner display:flex o place-items:center */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* NO text-align:center */
}


/* Movie Detail Page */
.movie-card {
  transition: all 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  transition: transform 0.4s ease;
}

.movie-card:hover img {
  transform: scale(1.05);
}